img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 100px;
    width: 150px;
}
ul.b {
    list-style-type: square;
}

ol.c {
    list-style-type: upper-roman;
}

table, th, td {
    border: 1px solid black;
    align-items: baseline;
}

table:hover {
    color: #FF00FF;
    background-color: blue;
}

